


<nav class="bg-white border-gray-200 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center gap-x-4">
      <a routerLink="/home" class="flex items-center  space-x-3 rtl:space-x-reverse">
        <img src="images/freshcart-logo.svg" alt="freshcart logo" >
    </a>
    
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">

      @if (enableNavBar) {
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
          <a routerLink="home"  routerLinkActive = "!text-main"  class="block py-2 px-3 text-gray bg-main rounded-sm md:bg-transparent md:text-gray md:p-0" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="cart"  routerLinkActive = "!text-main"  class="block py-2 px-3 text-gray bg-main rounded-sm md:bg-transparent md:text-gray md:p-0 " aria-current="page">Cart</a>
        </li>
        <li>
          <a routerLink="products"  routerLinkActive = "!text-main"  class="block py-2 px-3 text-gray bg-main rounded-sm md:bg-transparent md:text-gray md:p-0 " aria-current="page">Products</a>
        </li>
        <li>
          <a routerLink="categories"  routerLinkActive = "!text-main"  class="block py-2 px-3 text-gray bg-main rounded-sm md:bg-transparent md:text-gray md:p-0 " aria-current="page">Categories</a>
        </li>
        <li>
          <a routerLink="brands"  routerLinkActive = "!text-main"  class="block py-2 px-3 text-gray bg-main rounded-sm md:bg-transparent md:text-gray md:p-0 " aria-current="page">Brands</a>
        </li>
        
      </ul>
    }
    </div>
    </div>

    <div class="flex items-center space-x-6 gap-x-2"> 
      <!-- Social Media Icons -->
      <div class="flex space-x-4 text-gray cursor-pointer gap-x-3">
        <a  class="hover:text-pink-500">
          <i class="fab fa-instagram"></i>
        </a>
        <a  class="hover:text-blue-500">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a  class="hover:text-black">
          <i class="fab fa-tiktok"></i>
        </a>
        <a  class="hover:text-blue-400">
          <i class="fab fa-twitter"></i>
        </a>
        <a  class="hover:text-black">
          <i class="fab fa-linkedin"></i>
        </a>
        <a  class="hover:text-red-600">
          <i class="fab fa-youtube"></i>
        </a>
        @if (enableNavBar) {
          <a  class="text-gray" routerLink="cart" routerLinkActive="text-green-600">
            <i class="fas fa-cart-shopping text-2xl"></i>
          </a>
        <a (click)="signOut()" class="text-gray">
          SignOut
        </a>
        
      }
      </div> 
      @if (!enableNavBar) {
      <div class="">
        
        <a routerLink="login" routerLinkActive="!text-main" class="text-gray mr-3 ">Login</a>
        <a routerLink="register" routerLinkActive="!text-main" class="text-gray ">Register</a>
    
      </div>
    }
    </div>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
  </button>
  </div>
</nav>
































































































<!-- <nav class="bg-slate-400 p-4">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between">
    Section 1: Logo -->
    <!-- <div class="flex items-center space-x-3">
      <img src="freshcart-logo.svg" alt="Fresh Cart Logo" >
    </div> -->

    <!-- Section 2: Links (Home, Cart, Product, Brands) -->
    <!-- <div class="hidden md:flex space-x-6 text-white">
      <a routerLink="home" routerLinkActive="text-blue-800"  class="hover:text-blue-800">Home</a>
      <a routerLink="cart" class="hover:text-blue-800">Cart</a>
      <a routerLink="products" class="hover:text-blue-800">Product</a>
      <a routerLink="categories" class="hover:text-blue-800">Categories</a>
      <a routerLink="brands" class="hover:text-blue-800">Brands</a>
    </div> -->

    <!-- Section 3: Social Icons, Login/Register, Cart/SingOut -->
    <!-- <div class="flex items-center space-x-6"> -->
      <!-- Social Media Icons -->
      <!-- <div class="flex space-x-4 text-white">
        <a  class="hover:text-blue-500">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a  class="hover:text-blue-400">
          <i class="fab fa-twitter"></i>
        </a>
        <a  class="hover:text-black">
          <i class="fab fa-tiktok"></i>
        </a>
        <a  class="hover:text-red-600">
          <i class="fab fa-youtube"></i>
        </a>
      </div> -->

      <!-- Login/Register Section -->
      <!-- <div class="flex space-x-4">
        <a  class="text-white hover:text-gray-400">Login</a>
        <a  class="text-white hover:text-gray-400">Register</a>
      </div> -->

      <!-- Cart/SingOut -->
      <!-- <div class="flex items-center space-x-2">
        <a  class="text-white hover:text-gray-400">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <a  class="text-white hover:text-gray-400">
          SignOut
        </a>
      </div>
    </div> -->
  <!-- </div>
</nav>  --> 
