<div class="container w-[80%] mx-auto mt-10">

  @if (cartItem?.numOfCartItems !== 0) {
  <div class="sm:flex shadow-md my-10">
    <div class="  w-full  sm:w-3/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-2">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <!-- <h2 class="font-semibold text-2xl"> {{cartData?.numOfCartItems}} Items</h2> -->
      </div>

      @for (product of cartData.products; track $index) {
      <div class="md:flex items-strech py-8 md:py-10 lg:py-4 border-t border-gray-50">
        <div class="md:w-4/12 2xl:w-1/4 w-full">
          <img [src]="product.product.imageCover" alt={{product.product.title}} class="h-full object-center object-cover md:block" />
        </div>
        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
          <!-- <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">RF293</p> -->
          <div class="flex items-center justify-between w-full">
            <p class="text-base font-black leading-none text-gray-800">{{product.product.title}}</p>
            <div class="flex items-center">
              <button (click)="updateCount(product.product.id , product.count - 1)" class="border rounded-md py-2 px-4 mr-2">-</button>
              <span class="text-center w-8">{{product.count}}</span>
              <button (click)="updateCount(product.product.id, product.count + 1)" class="border rounded-md py-2 px-4 ml-2">+</button>
          </div>
          </div>
          <p class="text-xs leading-3 text-gray-600 pt-2">Height: 10 inches</p>
          <p class="text-xs leading-3 text-gray-600 py-4">Color: Black</p>
          <p class="w-96 text-xs leading-3 text-gray-600">Composition: 100% calf leather</p>
          <div class="flex items-center justify-between pt-5">
            <div class="flex itemms-center">
              <p class="text-xs leading-3 underline text-gray-800 cursor-pointer">Add to favorites</p>
              <p (click)="removeItem(product.product.id)" class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">Remove</p>
            </div>
            <p class="text-base font-black leading-none text-gray-800">{{product.price}} EGP</p>
          </div>
        </div>
      </div>

    }

      





      <a  class="flex font-semibold text-indigo-600 text-sm mt-10 cursor-pointer">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
        Continue Shopping
      </a>
    </div>
    <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
        <!-- <span class="font-semibold text-sm uppercase">Items {{cartData?.numOfCartItems}}</span> -->
        <span class="font-semibold text-sm">590$</span>
      </div>
      <div>
        <label class="font-medium inline-block mb-3 text-sm uppercase">
              Shipping
            </label>
        <select class="block p-2 text-gray-600 w-full text-sm">
              <option>Standard shipping - $10.00</option>
            </select>
      </div>
      <div class="py-10">
        <label
              for="promo"
              class="font-semibold inline-block mb-3 text-sm uppercase"
            >
              Promo Code
            </label>
        <input
              type="text"
              id="promo"
              placeholder="Enter your code"
              class="p-2 text-sm w-full"
            />
      </div>
      <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">
            Apply
          </button>
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>$600</span>
        </div>
        <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
              Checkout
            </button>
      </div>
    </div>
  </div>
}@else {
  <img src="images/empty_cart.svg" class="  w-full object-contain h-[80vh]" alt="">
}
</div>

























